@use 'mixins';

.wrapper-a+.footer {
    border-top: 1px solid rgba(0, 35, 50, 0.1);
}

.footer {
    padding: 50px 0;

    @include mixins.bp(desktop) {
        padding: 100px 0;
    }

    .cols .col:first-child {
        flex-grow: 1;
    }

    .cols .col:last-child {
        flex-grow: 0;
    }

    .footer-contact {
        display: flex;
        flex-direction: column;
        text-wrap: balance;
        gap: 10px;

        @include mixins.bp(desktop) {
            font-size: 20px;
        }

        strong {
            font-weight: 600;
        }
    }

    .footer-plausible {
        max-width: 30rem;
        text-wrap: balance;
        margin-top: 1.5rem;

        a {
            text-decoration: underline;
        }
    }

    .col img {
        max-height: 48px;
    }
}