<div class="footer">
  <div class="container">
    <div class="cols">
      <div class="col">
        <div class="footer-contact">
          <strong
            >To learn more about joining Works with Home Assistant - reach out to our team:</strong
          >
          <a href="mailto:partner@openhomefoundation.org"
            >partner@openhomefoundation.org</a
          >
        </div>
      </div>
      <div class="col">
        <img src="/img/ohf-logo.svg" alt="Open Home Foundation logo" />
      </div>
    </div>
  </div>
</div>
