<div class="footer">
  <div class="container">
    <div class="cols">
      <div class="col">
        <div class="footer-contact">
          <strong
            >To learn more about joining Works with Home Assistant - reach out
            to our team:</strong
          >
          <a href="mailto:partner@openhomefoundation.org"
            >partner@openhomefoundation.org</a
          >
        </div>
        <div class="footer-plausible">
          This website uses
          <a
            href="https://www.openhomefoundation.org/blog/making-our-web-analytics-open-source-with-plausible/"
            rel="noopener"
            >privacy-first analytics</a
          >
          to help us improve the site. You can view all data in our
          <a
            href="https://plausible.openhomefoundation.org/works-with.home-assistant.io"
            rel="noopener"
            >public dashboard</a
          >.
        </div>
      </div>
      <div class="col">
        <img src="/img/ohf-logo.svg" alt="Open Home Foundation logo" />
      </div>
    </div>
  </div>
</div>
