<section class="requirements" id="whats-required">
  <div class="container">
    <div class="inner">
      <h2>What's required?</h2>
      <div class="cards">
        {% for requirement in requirements %}
        <div class="card">
          {% if requirement.title and requirement.content %}
          <div class="title">{{ requirement.title }}</div>
          <div class="description">
            <p>{{ requirement.content }}</p>
          </div>
          {% elif requirement.items %}
          <div class="items">
            {% for item in requirement.items %}
            <div class="item">
              <div class="title">{{ item.title }}</div>
              <div class="description">
                <p>{{ item.content }}</p>
              </div>
            </div>
            {% endfor %}
          </div>
          {% endif %}
        </div>
        {% endfor %}
      </div>
      <p>
        The list above is non-exhaustive. As we're a small team we have to
        prioritize certification of devices strategically. Our strategic
        objectives with this program are currently to prioritize device variety,
        easy DIY installation, regional availability and partners who are a
        positive force for good, both inside and outside of our community. We
        cannot always certify manufacturers who apply to join the program, but
        we will continue to work to increase our capacity over the coming
        months.
      </p>
    </div>
  </div>
</section>
